@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #c62e2e;
  --redLight: #f95454;
  --blue: #0d92f4;
  --blueSky: #77cdff;
  --white: #ffffff;
  --background: #f7fafc;
  --foreground: ##334155;
  --bgNavbar: #f7fafc;
  --textNavbar: ###334155;
  --primaryColor: #0d92f4;
  --secondColor: #f95454;
  --thirdColor: #77cdff;
  --frColor: #1e3b8a;
}

body {
  background: var(--background);
  font-family: Urbanist, Helvetica, sans-serif;
  @apply text-slate-600;
}
